* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 2em;
}

div div, h3 {
  border: 1px solid Black;
}

div div {
  background-color: Grey;
  padding: 0;
  float: left;
}

#chicken-menu h3 {
  background-color: LightCoral;
}

#beef-menu h3 {
  background-color: FireBrick;
  color: White;
}

#sushi-menu h3 {
  background-color: Wheat;
}

h3 {
  float: right;
  width: 10em;
  max-width: 100%;
  text-align: center;
  margin: -1px -1px 10px 0;
  padding: 0.4em 0;
  font-size: 1.25em;
}

p {
  clear: both;
  margin: 20px;
}

@media (max-width: 767px) { /* mobile */
  div div {
    width: 93%;
    margin: 3%;
  }
}

@media (min-width: 992px) { /* screen */
  div div {
    width: 30%;
    margin-left: 2.5%;
  }
}

@media (min-width: 768px) and (max-width: 991px) { /* tablet */
  div div {
    width: 45%;
    margin-left: 3.33%;
    margin-bottom: 3.33%;
  }

  #sushi-menu {
    width: 93.33%;
  }
}
